{% extends "base.html" %}
{% block body %}
<h1>Categories</h1>
<table style="border: 1px solid black; width: 50%; margin: auto">
{% if object_list %}
<tr><th>en</th><th>pl</th><th>&nbsp;</th></tr>
 {% for object in object_list %}
 <tr>
 <td>{{ object.name_en|escape }}</td>
 <td>{{ object.name_pl|escape }}</td>
 <td><a href="/{{ object.id }}/">edit</a></td>
 </tr>
 {% endfor %}
{% else %}
 <tr><td>No categories yet.</td></tr>
{% endif %}
<tr><td><a href="/new/">Add a category</a></td></tr>
</table>
{% endblock %}
